.skill-tree {
  width: max-content;
  min-height: 100%;
  position: relative;
}

.skill-tree-content {
  position: relative;
  min-height: 100%;
}

.skill-node-wrapper {
  cursor: grab;
}

.skill-node-wrapper:active {
  cursor: grabbing;
}
